PORT=6767
DOCS_PORT=6969

DB_HOST=localhost
DB_PORT=6868
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=postgres

JWT_SECRET=supersecret
JWT_ACCESS_TTL_SEC=300
JWT_REFRESH_TTL_SEC=900

FRONTEND_URL=http://localhost:5173

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:3000/webster/v1/accounts/login/google/callback

AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
BUCKET_NAME=

CASSANDRA_CONTACT_POINTS=localhost
CASSANDRA_LOCAL_DC=dc1
CASSANDRA_KEYSPACE=webster
CASSANDRA_PORT=9042

LOG_LEVEL=INFO

SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_FROM=noreply@uevent.com

SNAPSHOT_INTERVAL=5

GITHUB_TOKEN=
